name: CI Storage Usage Example

on:
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Get or create the storage directory
              uses: hardliner66/ci-storage/get@v1

            - name: Use, update or create some data
              run: node example/increment-count.js "$CI_STORAGE_PATH/data.json"

            - name: Persist changes to storage
              uses: hardliner66/ci-storage/persist@v1
