name: CI Storage Usage Example

on:
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Use, update or create some data
              uses: hardliner66/ci-storage@v1
              with:
                  script: |
                      node increment-count.js "$CI_STORAGE_PATH/data.json"
